*.iml
.idea
target
bower_components
node_modules
node
*.log
asciidoctor.css
README.html
built
dump.rdb
package-lock.json
.classpath
.project
org.eclipse.*
settings.json
.DS_Store
basic/.DS_Store
basic/src/.DS_Store
basic/src/main/.DS_Store
basic/src/main/js/.DS_Store